@import url('@fontsource/roboto/400.css');
@import url('@fontsource/roboto/700.css');

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;

  &:visited,
  &:focus {
    color: #000;
  }
}
